window {
    margin: 2px;
    border: 3px solid #f5c2e7;
    background-color: #f5c2e7;
    border-radius: 8px;
}



  #input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #fff;
    font-weight: bold;
    background-color: #fff;
    background: linear-gradient(90deg, rgba(103,66,147,1) 0%, rgba(145,94,131,1) 100%);
    outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
}
#inner-box {
    margin: 4px;
    border: 10px solid #1e1e2e;
    background-color: #1e1e2e;
    border-radius: 8px;
}

#outer-box {
    margin: 2px;
    border: none;
    border-radius: 8px;
    background-color: #1e1e2e;
#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(45deg, rgba(103,66,147,1) 30%, rgba(145,94,131,1) 100%);
}
}

#scroll {
    margin: 0px;
    border: none;
}
#text:selected {
    color: #00FFFF; /* Neon Green Selected Text */
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}
#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(45deg, rgba(153,116,197,1) 30%, rgba(195,144,181,1) 100%);
}
